@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

html {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

body, html {
    font-family: 'Montserrat', sans-serif;
    background: #EB7575;
}

.hidden {
    display: none;
}

.calendar-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: auto;
    background: gray;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0, .1) 0px 0 8px;
    -moz-box-shadow: rgba(0,0,0, .1) 0 0 8px;
    box-shadow: rgba(0,0,0, .1) 0 0 8px;
}

.calendar-container .calendar {
    width: 70%;
    background: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.calendar-container .calendar header.calendar-header {
    background-color: #3F4045;
    color: #fff;
}

.calendar-container .calendar header.calendar-header .calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 30px 60px;
}

.year-before, .year-after {
    opacity: .6;
}

.year-before:hover, .year-after:hover {
    opacity: 1;
}

.calendar-container .calendar header.calendar-header .back-to-today {
    padding: 0 60px 30px 60px;
    text-align: center;
    cursor: pointer;
    opacity: .6;
}

.calendar-container .calendar header.calendar-header .back-to-today:hover {
    opacity: 1;
}

.calendar-container .calendar header.calendar-header .year-before,
.calendar-container .calendar header.calendar-header .year-after {
    font-size: 20px;
    cursor: pointer;
}

.calendar-container .calendar header.calendar-header .year-current {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.calendar-container .calendar section.content {
    display: flex;
    flex-direction: row;
    color: #444B54;
    padding: 60px;
}

.calendar-container .calendar section.content .switch {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
    opacity: .3;
    -webkit-transition: all .25s ease-i-out;-moz-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;-o-transition: all .25s ease-in-out;transition: all .25s ease-in-out;
}

.calendar-container .calendar section.content  .switch:hover {
    opacity: 1;
    cursor: pointer;
}

.calendar-container .calendar section.content ul.weekdays {
    font-weight: bold;
}

.calendar-container .calendar section.content ul.weekdays li {
    margin: 10px;
    padding: 5px;
}

.calendar-container .calendar section.content ul {
    display: flex;
    justify-content: space-between;
}

.calendar-container .calendar section.content .dates ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    font-weight: 500;
    -webkit-transition: opacity .2s ease-in-out;-moz-transition: opacity .2s ease-in-out;-ms-transition: opacity .2s ease-in-out;-o-transition: opacity .2s ease-in-out;transition: opacity .2s ease-in-out;
}

.calendar-container .calendar section.content .dates ul li:not(.filler) {
    cursor: pointer;
    opacity: .6;
    border-radius: 50%;
}

.calendar-container .calendar section.content .dates ul li:not(.current):not(.has-event):not(.filler):hover {
    opacity: .6;
    color: #fff;
    background: #2c3e50;
}

.calendar-container .calendar section.content .calendar-content ul li.current {
    background: #2c3e50;
    color: #fff;
    font-weight: bold;
    opacity: 1;
}

.calendar-container .calendar section.content .calendar-content ul li.has-event {
    background: #EB7575;
    color: #fff;
    font-weight: bold;
    opacity: 1;
}

.calendar-container .calendar section.content .calendar-content ul li.current:hover,
.calendar-container .calendar section.content .calendar-content ul li.has-event:hover
{
    opacity: .8;
}

.calendar-container .calendar section.content .calendar-content ul li.active {
    background: #2c3e50;
    opacity: .7;
    font-weight: bold;
    color: #fff;
}

.calendar-container .events {
    position: relative;
    width: 30%;
    background: #3E454D;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 60px;
}

.calendar-container .events .event {
    position: relative;
    cursor: pointer;
    z-index: 1;
    opacity: 0.6;

    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.calendar-container .events .event:hover {
    opacity: 1;
}

.calendar-container .events header.events-header {
    color: #fff;
}

.calendar-container .events header.events-header h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.calendar-container .events header.events-header p {
    color: rgba(255, 255, 255, .6);
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

.calendar-container .events section.event-history {
    margin-top: 100px;
    text-align: center;
}

.calendar-container .events section.event-history .event h1 {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    letter-spacing: .05em;
}

.calendar-container .events section.event-history .event p {
    font-size: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .6);
}

.calendar-container .events section.event-history hr {
    width: 40%;
    height: 1px;
    border: none;
    background: #ecf0f1;
    margin: 20px auto;
}

.cd-section {
    position: relative;
    overflow: hidden;
}

.cd-modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-2em);
    width: 4em;
    height: 4em;

    background: #4C5F6B;

    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    visibility: hidden;

    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

.cd-modal-bg.is-visible {
    opacity: 1;
    visibility: visible;
    z-index: 9;
}

.cd-modal-content {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.cd-modal-content h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

.cd-modal-content div i {
    margin-right: 5px;
}

.cd-modal-content div {
    margin-bottom: 5px;
}

.cd-modal-content p:last-child {
    margin-bottom: 0;
}

.cd-modal-content .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
    opacity: .5;

    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.cd-modal-content .close:hover {
    opacity: 1;
}